@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --secondBackground: #99c5cf;
  --shadowColor: #80b6c3;
  --hoverColor: #63a2b1;
  --font: Elephant;
}
@font-face {
  font-family: 'Elephant';
  src: url('fonts/ELEPHNT.TTF') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--hoverColor);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


